@use "sass:math";
@import '../../styles/settings.scss';



.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  .icon {
    padding-right: $base-size;
    font-size: ($base-size * 2);
    vertical-align: middle;
    position: relative;
    top: - math.div($base-size, 3);
    cursor: pointer;
    transition: $transition;


    &.favoriteBtn {
      color: #5a54b9;
      margin-right: 10px;
    }

    &.removeBtn {
      color: $color-warning;

      &:hover {
        scale: 1.1;
      }
    }
  }

}